
.div,h1{
    text-align: center;
}
.div,img,table,tr,td{
    text-align: left;
}
.div,text,table,tr,td{
    text-align: right;
}
.table,th,td{
    border: 2px solid;
    color: black;
    width: 300px;
    height: 100px;
    text-align: center;
}
.Heading,th{
    background-color: aquamarine;
    
}
.Details,td{
    background-color: beige;
}
